*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #5222d0;
    --secondary-color: #ec615c;
    --text-color: #000;
}

nav{
    height: 100px;
}

nav .logo{
    font-weight: 500;
    color: var(--primary-color);
}

nav .nav-item a{
    color: var(--primary-color);
    font-weight: 500;
}