* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #5222d0;
    --secondary-color: #ea967a;
    --text-color: #000;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    height: 100px;
}

.navbar-nav {
    background-color: #ffffff; 
    padding: 1rem; 
}


nav .logo {
    font-weight: 500;
    color: var(--primary-color);
}

nav .nav-item a {
    color: var(--primary-color);
    font-weight: 500;
}

.hero-section {
    padding-top: 4rem;
}

.hero-section h1 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-section span {
    color: var(--secondary-color);
    text-transform: uppercase;
}

.hero-section p {
    color: var(--text-color);
    margin-bottom: 30px;
    font-size: 1rem;
}

.btn.btn-custom {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #ffffff;
}

.btn.btn-custom:hover {
    background-color: #3e1aa3;
    border-color: #3e1aa3;
    color: #ffffff;
}

.btn.btn-outline-custom {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.btn.btn-outline-custom:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #ffffff;
}

.hero-section .right img{
    height: 600px;
    animation: shake 5s infinite;
}

 .image-container{
    height: 400px;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    animation: blob1 8s ease-in-out infinite;
    transition: all 1s ease-in-out;
    background: linear-gradient(to right, var(--primary-color) , #8557fb);
    overflow: hidden;
}

.image-container .blob-img{
    height: 100%;
    width: 100%;
}

.center-content .image-container{
    height: 600px;
    animation: blob2 6s ease-in-out infinite;
    transition: all 1s ease-in-out;
    background: linear-gradient(to top left, var(--primary-color) , #8557fb);
}

.carousel-indicators.carousel-indicators-position{
    position: absolute;
    right: 0;
    bottom: -30px;
    left: 0;
}

.footer-background{
    background: linear-gradient(to left, var(--primary-color) , #8557fb);
}

@keyframes shake{
    0%,100%{
     transform: translate(0, -20px)
    }
    50%{
     transform: translate(0, 20px)
    }
}

@keyframes blob1{
    0%,100%{
        border-radius: 40% 20% 30% 70% / 30% 40% 70% 20%;
    }
    50%{
        border-radius: 40% 60% 70% 40% / 50% 60% 30% 60%;
    }
}
@keyframes blob2{
    0%,100%{
        border-radius: 80% 20% 30% 50% / 70% 20% 20% 40%;
    }
    50%{
        border-radius: 60% 60% 70% 40% / 50% 60% 30% 60%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    .hero-section .right img{
        width: 100%;
        height: 320px;
    }
    .hero-section h1 {
        font-size: 1.2rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
    .hero-section .right img{
        height: 320px;
    }
    .hero-section h1 {
        font-size: 1.2rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .hero-section .right img{
        height: 350px;
    }
    .hero-section h1 {
        font-size: 1.5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    .hero-section .right img{
        height: 450px;
    }
    .hero-section h1{
        font-size: 1.8rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    .hero-section .right img{
        height: 600px;
    }
    .hero-section h1 {
        font-size: 2.5rem;
    }
}
